/* Css of the root component (App.js) */
.App h1 {
    text-align: center;
    color: rgb(65, 2, 10);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    padding-top: 60px;
    padding-bottom: 60px;
}
body{
    background-image: url('stade.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}